@import "./reset";
@import "./typography";
@import "./variables";

body {
  //background: linear-gradient(135deg, #cce7ff, #99d1ff, #66bbff);
  background-image: url("../../src/assets/backgrounds/clear-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 8rem;
}

@media (max-width: 768px) {
  body {
    padding: 1rem 2rem;
  }
}

@media (max-width: 576px) {
  body {
    padding: 0.5rem 0.75rem;
  }
}

.top-container {
  height: 301px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.section-heading {
  width: max-content;
  margin: 2.5rem 0 1rem 12px;
  background: #c8ebff; /* fallback */
  background: -webkit-linear-gradient(to left, #a9d8ff, #c8ebff);
  background: linear-gradient(to left, #a9d8ff, #c8ebff);
  background-clip: text;
  color: transparent;
}
