@import "./reset";
@import "./typography";
@import "./variables";

body {
  height: 100vh;
  background: linear-gradient(135deg, #cce7ff, #99d1ff, #66bbff);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
