@import "./reset";
@import "./typography";
@import "./variables";

body {
  //background: linear-gradient(135deg, #cce7ff, #99d1ff, #66bbff);
  background-image: url("../../src/assets/backgrounds/clear-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 8rem;
}

@media (max-width: 768px) {
  body {
    padding: 1rem 2rem;
  }
}

@media (max-width: 576px) {
  body {
    padding: 0.5rem 0.75rem;
  }
}

.top-container {
  height: 328px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
